@media only screen and (max-width: 950px) {
.container {
    width: 80%;
  }
}

@media only screen and (max-width: 600px) {

  .container {
    width: 80%;
  }
}

@media only screen and (max-width: 480px) {

  .container {
    width: 80%;
  }
  
  .logo {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
  }
  
  #mangue {
    width: 15%;
  }
  
  img {
    max-width: 30%;
    height: auto;
    display: block;
    margin: 0 auto;
    aspect-ratio: 2/3;
    object-fit: contain;
    mix-blend-mode: multiply;
  }

  h1,h2,h3 {
    font-size: 20px;
    text-align: center;
  }

  .wpp {
    background-color: #4caf50;
    color: #fff;
    width: 100%;
    display: block;
    margin: 0 auto;
    border: none;
    padding: 15px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 10px;
  }
}